#Summery{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}
.About{
    margin-left: -100px !important;
}
#Summery>img{
    height: 30px;
    margin:0px 50px;
    
}
.AboutgridMain{
    overflow: hidden;
}

@media screen and (min-width:320px) and (max-width:425px) {
    .AboutgridMain{
        padding: 30px;
    }
    .AboutSummery{
        font-size: smaller;
    }
    .AboutPointers{
        margin-left: 80px !important;
    }
    .AboutPointers>h1{
        margin-left: 20px;
    }

}

@media screen and (min-width:425px) and (max-width:768px) {
    .AboutgridMain{
        padding: 30px;
    }
    .AboutSummery {
        font-size: x-large;
        margin: auto;
        margin-top: 24px;
        min-width: 122% !important;
        margin-left: -47px;
        /* margin-right: -24px; */
    }
    .AboutPointers{
        margin-left: 90px !important;
    }
    .AboutPointers>h1{
        margin-left: 20px;
    }
}
@media screen and (min-width:769px)  {
    #Summery{
        font-size: 50px;
    }
    .AboutSummery {
        margin-left: 100px !important;
        margin-top: 10px !important;
        margin-bottom: -110px;
    }
    .AboutgridMain3{
        display: flex;
        flex-direction: row;
    }
    .AboutGridMain{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .AboutgridMain5{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        font-size: smaller;
        margin-top: -140px;
        justify-content: space-evenly;
    }
    .AboutgridMain1{
        margin-left: -30px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        margin-top: -150px;
    }
}
