#ContactForm{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: auto;
    min-width: 80%;
   
}
.ContactFormClass{
  background-color: rgb(19, 18, 18);
  padding: 30px;
  border-radius: 15px;
  border: 1px solid rgb(19, 18, 18);
}
.MyContactForm{
    min-width: 80%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}
.MyContactForm>form{
    min-width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.MyContactForm>form>input{
    padding: 30px;
    min-width:80%;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid rgba(75, 75, 75, 0.214);
    border-radius: 10px;
    color:white;
}
.MyContactForm>form>input:focus-visible{
 outline: none;   
}
.MyContactForm>form>input::placeholder{
    color: rgb(124, 123, 123);

}
.MyContactForm>form>button{
    padding: 30px;
    margin-bottom: 10px;
    color: rgb(124, 123, 123);
    background-color: transparent;
    border: 1px solid rgba(75, 75, 75, 0.214);
    border-radius: 10px;
    width: 50%;
}
@media screen and (min-width:320px) and (max-width:425px) {
  #ContactForm{

    margin: 3px;
    padding: 15px;
   
    align-items: center;
    justify-content: center;
  }  
  .MyContactForm>form>input{
    padding: 10px;
  }
  .MyContactForm>form>button{
    padding: 10px;
  }
}
@media screen and (min-width:425px) and (max-width:768px) {
   
    #ContactForm{
        margin: 3px;
        padding: 15px;
        align-items: center;
        justify-content: center;
      }  
      .MyContactForm>form>input{
        padding: 10px;
      }
      .MyContactForm>form>button{
        padding: 10px;
      }
}
@media screen and (min-width:769px) and (max-width:1024px) {
    #ContactForm{
        margin: 3px;
        padding: 15px;
        align-items: center;
        justify-content: center;
      }  
      .MyContactForm>form>input{
        padding: 10px;
      }
      .MyContactForm>form>button{
        padding: 10px;
      }
}