
.ContactIcon{
    filter:invert(100%);

}
.ContactIcon>img{
    height: 30px;
    width: 30px;
    padding: 20px;
    border-radius: 20px;
    margin: 18px;
    border: 1px solid rgba(138, 137, 137, 0.452) ;
}
.ContactInfoMain{
    display: flex;
    align-items: center;
    justify-content: start;
}
.ContactInfo>p{
    color: rgba(138, 137, 137, 0.452);
}