@media screen and (min-width:320px) and (max-width:425px) {
    .Experience{
      padding: 30px;
      background-image: linear-gradient(to bottom right, rgb(19, 19, 19),rgb(26, 26, 26), rgb(19, 19, 19));
      margin-bottom: 30px;
      border-radius: 15px;
    }
}

@media screen and (min-width:425px) and (max-width:768px) {
   .Experience{ 
      padding: 30px;
      background-image: linear-gradient(to bottom right, rgb(19, 19, 19),rgb(26, 26, 26), rgb(19, 19, 19));
      margin-bottom: 30px;
      border-radius: 15px;
    }
}



@media screen and (min-width:320px) and (max-width:425px) {
   .Experience{
      display: flex;
      flex-direction: column;
      padding: 30px;
      min-width: 102% !important;
      font-size: smaller !important;
      margin-left: -33px;
      background-image: linear-gradient(to bottom right, rgb(19, 19, 19),rgb(26, 26, 26), rgb(19, 19, 19));
      border-radius: 10px
   };   
}

@media screen and (min-width:425px) and (max-width:768px) {
   .Experience{
      display: flex;
          flex-direction: column;
          padding: 36px;
          min-width: 88% !important;
          font-size: large !important;
          background-image: linear-gradient(to bottom right, rgb(19, 19, 19),rgb(26, 26, 26), rgb(19, 19, 19));
          border-radius: 10px;
          margin: auto;
          margin-top: 20px;
          margin-left: -19px;
          margin-bottom: 10px;
      } ;
}
@media screen and (min-width:769px)  {
   .Experience{
      display: flex;
      flex-direction: column;
      width: -moz-fit-content;
      width: fit-content;
      align-items: start;
      padding: 50px;
      justify-content: space-between;
      margin-left: -50px;
      background-image: linear-gradient(to bottom right, rgb(19, 19, 19),rgb(26, 26, 26), rgb(19, 19, 19));
      border-radius: 30px;
      min-width: 355px;
   };   
   .ExperienceInfo{
    
      font-size: 10px !important;
     }
    .ExperienceInfo h3{
      font-size: 20px !important;
      display: flex;
      
      flex-direction: row;
    }
}